.Menu{
    background:#161313;
    margin-top: 10%;
    padding-top: 3%;
    padding-bottom: 4%;
}
.Menu-head-text{
    padding: 10px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 300;
}
.Menu-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }

        img{
            width: 25%;
            padding: 10px;
            border-radius: 5%;
                @media only screen and (max-width: 600px) {
                    width: 98%;
                    padding: 1px;
                    border-radius: 5%;
                }
        }

}
